@import "./modules/colors";
@import "./modules/typo";
@import "./modules/buttons";
@import "./modules/navbar";
@import "./modules/hero";
@import "./modules/profil";
@import "./modules/price";
@import "./modules/testimonial";
@import "./modules/footer";

body {
	font-family: "Inter", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
